@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Katex Main';
    src: url('./KaTeX_Main-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

div {
    font-family: 'DM Sans';
}

textarea {
    font-family: 'monospace';
}

body {
    margin: 0;
    background-color: #FFFFFF;
}

pre {
    padding: 1rem;
    margin: 0;
    border-radius: 0.5rem;
    background-color: #F4F4F4;
    border: 1px solid #E0E0E0;
    overflow-x: auto;
}

code {
    padding: 0 !important;
    background-color: transparent !important;
    font-size: 12px;
}

p {
    margin: 0.5rem;
    font-size: 14px;
}

li {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.buttonHover {
    background-color: transparent;
    transition: background-color 0.15s ease;
}

.buttonHover:hover {
    background-color: #F8F9FA;
}

.buttonHoverLight {
    background-color: transparent;
    transition: background-color 0.15s ease;
}

.buttonHoverLight:hover {
    background-color: #EDEFEF;
}

.historyButton {
    background-color: #FFFFFF;
    transition: background-color 0.15s ease;
}

.historyButton:hover {
    background-color: #EDEFEF;
}

.slideOut {
    transition: width 0.5s ease;
}

.popup-container {
    position: relative;
    display: inline-block;
}

.popup-button {
    padding: 10px 20px;
    cursor: pointer;
}

.popup-content {
    position: absolute;
    top: 100%;
    width: fit-content;
    margin-bottom: 10px;
    z-index: 1000;

    background-color: white;
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* alabaster */
.hljs {
    display: block;
    overflow-x: auto;
    padding: 1.25rem 1.5rem 2rem;
    color: #000;
    background: #f7f7f7;
}

.hljs-comment {
    color: #aa3731;
}

.hljs-string,
.hljs-meta-string,
.hljs-regexp {
    color: #448c27;
}

.hljs-number,
.hljs-literal {
    color: #7a3e9d;
}

.hljs-title {
    color: #325cc0;
}

.hljs-deletion {
    background-color: #ffdddd;
    color: #434343;
}

.hljs-addition {
    background-color: #ddffdd;
    color: #434343;
}

/* end alabaster */

.messageOptions {
    color: #ADADAD;
    transition: color 0.3s ease;
}

.messageOptions:hover {
    color: #0D0D0D;
}

.messageOptionsRow {
    color: #ADADAD;
    transition: color 0.3s ease;
}

.messageOptionsRow:hover {
    color: #0D0D0D;
}

.messageOptions .messageOptionsRow {
    transform: translateX(100%);
    transition: all 0.3s ease;
}

.messageOptions:hover .messageOptionsRow {
    transform: translateX(0%);
}

.katex {
    line-height: 1.2rem;
}

mo,
mi {
    font: 1.21rem 'Katex Main';
}

.katex-html {
    display: none;
}

.scrollbar::-webkit-scrollbar {
  width: 12px; /* Slightly wider to accommodate padding */
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.5);
  border-radius: 8px;
  border: 3px solid transparent; /* Creates space around the thumb */
  background-clip: padding-box; /* Ensures the background doesn't show through the border */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.7);
  background-clip: padding-box; /* Maintain transparency on hover */
}
